{% extends 'background.html' %}

{% block content %}

<!-- <h1>Edit Venue</h1>
<form action="venueUpdate" method='post' enctype="multipart/form-data">
    
    {% csrf_token %}
    Venue Name:<input type="text" name="vname" value="{{venue.venue_name}}"><br>
    Venue Address:<input type="text" name="address" value="{{venue.venue_address}}"><br>
    Venue Description:<input type="text" name="venuedesc" value="{{venue.venue_description}}"><br>
    Renting Cost(per hour):<input type="text" name="venuecost" value={{venue.venue_cost}}><br>
    Venue Capacity:<input type="text" name="venuecap" value={{venue.venue_capacity}}><br>
    Venue Seating Type:<input type="text" name="venuesit" value="{{venue.venue_seating_type}}"><br>
    Venue Special Features:<input type="text" name="venuefeat" value="{{venue.venue_special_features}}"><br> -->


    <div class="signupFrm1">

        <form class="form" action="venueUpdate" method='post' enctype="multipart/form-data">
            <h1 class="title1">Edit Venue</h1>
            {% csrf_token %}
            {% if error %}
            <h5>{{error}}</h5>
            {% endif %}
        
            <div class="inputContainer">
                <input type="text" name="vname" value="{{venue.venue_name}}" class="input1" placeholder="a">
                <label for="" class="label">Venue Name</label>
            </div>
        
            <div class="inputContainer">
                <input type="text" name="address" value="{{venue.venue_address}}" class="input1" placeholder="a">
                <label for="" class="label">Venue Address</label>
              </div>
              <div class="inputContainer">
                <input type="text" name="venuedesc" value="{{venue.venue_description}}" class="input1" placeholder="a">
                <label for="" class="label">Venue Description</label>
            </div>
        
            <div class="inputContainer">
                <input type="text" name="venuecost" value={{venue.venue_cost}} class="input1" placeholder="a">
                <label for="" class="label">Renting Cost(per hour)</label>
              </div>
              <div class="inputContainer">
                <input type="text" name="venuecap" value={{venue.venue_capacity}} class="input1" placeholder="a">
                <label for="" class="label">Venue Capacity</label>
            </div>
        
            <div class="inputContainer">
                <input type="text" name="venuesit" value="{{venue.venue_seating_type}}" class="input1" placeholder="a">
                <label for="" class="label">Venue Seating Type</label>
              </div>
        
              <div class="inputContainer">
                <input type="text" name="venuefeat" value="{{venue.venue_special_features}}" class="input1" placeholder="a">
                <label for="" class="label">Venue Special Features</label>
              </div>
    Select Category:
    <select name="categories" id="categories">
        {% for cat in cats %}
            {% if cat.category_id == venue.category_id_id %}
            <option value={{cat.category_id}} selected>{{cat.category_name}}</option>
            {% else %}
            <option value={{cat.category_id}}>{{cat.category_name}}</option>
            {% endif %}
        {% endfor %}
    </select><br>
    Current Venue Image:<img src="{{venue.venue_image.url}}" height="200" width="300">
    <br>Upload New Venue Image:<input type="file" name="image">
    <!-- <br><input type="submit"> -->
    <input type="submit" class="submitBtn" value="Submit">
</form>
    </div>
{% endblock %}